<hr>
<main>
    <div class="fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="grid">
                    <article class="card product-item">
                        <div class="card__image">
                            <img src="<%= staffs.image %>" alt="<%= staffs.name %>">
                        </div>
                    </article>
                </div>
            </div>

            <div class="right card__actions col-xs-12 col-md-8">
                <div>
                    <i class="fa fa-id-card">
                        <span>
                            <%= staffs._id %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-user">
                        <span>
                            <%= staffs.name %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-birthday-cake">
                        <span>
                            <%= staffs.doB.getFullYear() + "/" + staffs.doB.getMonth() + "/" + staffs.doB.getDate() %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-money">
                        <span>
                            <%= staffs.salaryScale %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-calendar">
                        <span>
                            <%= staffs.startDate.getFullYear() + "/" + staffs.startDate.getMonth() + "/" +
                                staffs.startDate.getDate() %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-tasks">
                        <span>
                            <%= staffs.department %>
                        </span>
                    </i>
                </div>
                <div>
                    <i class="fa fa-calendar">
                        <span></span>
                        <%= staffs.annualLeave %>
                    </i>
                </div>
                <div>
                    <form action="/staff-info" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <i class="fa fa-picture-o"><input type="text" value="<%= staffs.image %>" name="updateImage"
                                id="updateImage" />
                        </i>
                        <button type="submit">Chỉnh sửa</button>
                    </form>
                </div>
                <div class="centered">
                    <a href="/reset">Reset Password</a>
                </div>
            </div>
        </div>
    </div>




</main>
<hr>